td {
    width:60px;
    height:60px;
}



game-board-div button {
    cursor: pointer;  
    border: none; 
    color: #333;
}


div.empty {
    background-image: url("./img/empty_tile.png");
    background-repeat: no-repeat;
    background-color: #fff;
}

div.red {
    background-image: url("./img/red_tile.png");
    background-repeat: no-repeat;
    background-color: #fff;
}

div.blue {
    background-image: url("./img/blue_tile.png");
    background-repeat: no-repeat;
    background-color: #fff;
}